    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/style.css">
        <title>Document</title>
    </head>
    <body>
        <h1>Edit File</h1>
        <form action="/update/<%= id %>" method="post">
        <textarea name="content" id="content" cols="30" rows="10">
            <%= content %></textarea
        >
        <br />
        <button type="submit">Update File</button>
        </form>
    </body>
    </html>
